<!DOCTYPE html>

    <html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sign Up Page</title>
        <!-- Bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <!-- Custom css -->
        <link rel="stylesheet" href="../css/indexPage.css">
    </head>

    <body>
        <div th:replace="fragments/navbar :: navbar" ></div>

    	<div class="container bg-primary rounded">
            <h1>Hey Buddy</h1>
            
            <div class="row">
                <div class="col">
                    <div class="card m-1">
                        <div class="card-head">
                            <h1>Sign Up Form</h1>
                        </div>
                        <div class="card-body" m-1>
                            <form class="m-2" th:action="@{/signUp}" th:object="${user}" method="post" autocomplete="off">
                                <div class="form-group">
                                    <label for="inputFirstName"  th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validation-message">
                                        First Name
                                    </label>
                                    <input type="text" th:field="*{firstName}" class="form-control" id="exampleFirstName" placeholder="Enter first name" />
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message" for="inputLastName">
                                        Last Name
                                    </label>
                                    <input th:field="*{lastName}" type="text" class="form-control" id="exampleLastName" placeholder="Enter last name">
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="validation-message" for="inputUserName">
                                        Username
                                    </label>
                                    <input th:field="*{username}" type="text" class="form-control" id="exampleUserName" placeholder="Enter username">
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message" for="inputEmail">
                                        Email address
                                    </label>
                                    <input th:field="*{email}" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" />
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. Lol jk</small>
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message" for="inputPassword">
                                        Password
                                    </label>
                                    <input th:field="*{password}" type="password" class="form-control" id="inputPassword" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
        
    </body>

    <footer>
        <!-- Good jQuery with ajax -->
        <script src="https://code.jquery.com/jquery-3.4.1.js" 
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <!-- Popper & Bootstrap js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- Custom js -->
        <script src="../js/signIn_Up.js"></script>
    </footer>

</html>